
    <div class="col-md-12 row mt-4">

        <div class="col-md-2">
            <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="showRegPatForm()">Register
                Patient</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="showViewPatientDiv()">View All Registered Patients</button>
        </div>

        <div class="col-md-8">
            <div class="card" id="patRegFormId" *ngIf="registerPatForm">
                <div class="card-header">
                   <h4>Patient Registration Form</h4>
                </div>
                <div class="card-body">
        
                    <form action="" method="POST" [formGroup]="form" (ngSubmit)="registerPatient(form)">
        
        
                        <div class="form-group">
                            <input type="text" formControlName="patName" id="patRegNameId"  class="form-control"
                                placeholder="Patient Name">
                        </div>
        
                        <div class="form-group">
                            <textarea class="form-control" rows="2" formControlName="address" id="patRegAddressId" placeholder="Address"></textarea>
                        </div>
        
                        <div class="form-group">
                            <input type="email" name='email' formControlName="email" id="patRegemailId" class="form-control" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <input type="number" name='phoneNo' formControlName="phoneNo" id="patRegphoneNoId" class="form-control"
                                placeholder="Phone No">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="gender" formControlName="gender" id="" value="Male"> Male <input type="radio" name="gender" formControlName="gender" id="" value="Female"> Female
                        </div>
        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" formControlName="dob" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select formControlName="doctorId" class="form-control" id="doctors">
                                        <option *ngFor="let doctor of doctors; let i = index" [value]="doctors[i].userId">
                                          {{doctors[i].userName}}
                                        </option>
                                    </select>   
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text"  formControlName="age" id="patRegageId" class="form-control" placeholder="Age">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text"  formControlName="height" id="patRegheightId" class="form-control"
                                        placeholder="Height">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="bloodPressure" id="patRegbpId" class="form-control"
                                        placeholder="Blood Pressure">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" formControlName="respiratoryRate" id="patRegrrId" class="form-control"
                                        placeholder="Respiratory Rate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="feverType" id="patRegfeverTypeId" class="form-control"
                                        placeholder="Fever">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="symptoms" id="patRegsymptomsId" class="form-control"
                                        placeholder="Symptoms">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-outline-primary" style="margin-left:10px;" value="Create Consult">
                                </div>
                                <div class="form-group">
                                    <input type="reset" class="btn btn-outline-secondary" style="margin-left:10px;" value="      Reset     ">
                                </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--PatientList Info-->
            <div  style="margin-left: 5rem;" *ngIf="viewPatData">
               
                   <h4>Consulted Patient Details</h4>
                   
                <div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th>SrNo</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Hieght</th>
                            <th>Weight</th>
                            <th>BP</th>
                            <th>Sugar</th>
                            <th>Resp Rate</th>
                            <th>Fever</th>
                            <th>Symptoms</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patients index as i">
                              <td>{{i+1}}</td>
                              <td>{{patient.patName}}</td>
                              <td>{{patient.address}}</td>
                              <td>{{patient.email}}</td>
                              <td>{{patient.phoneNo}}</td>
                              <td>{{patient.age}}</td>
                              <td>{{patient.gender}}</td>
                              <td>{{patient.height}}</td>
                              <td>{{patient.weight}}</td>
                              <td>{{patient.bloodPressure}}</td>
                              <td>{{patient.sugar}}</td>
                              <td>{{patient.respiratoryRate}}</td>
                              <td>{{patient.feverType}}</td>
                              <td>{{patient.symptoms}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>